<article class="story">
  <div class="story__left">
    <a class="story__vote">&#9650;</a>
  </div>
  <div class="story__right">
    <h3 class="story__title"><a href="{{story.url}}" target="_blank">{{story.title}}({{get-domain story.url}})</a></h3>
    <ul class="story__info">
      <li>{{pluralize story.votes "point"}}</li>
      <li class="story__info__owner">by {{story.user}}</li>
      <li class="">{{moment-from-now story.createdAt}}</li>
    </ul>
  </div>
</article>
