<form class="story__form" autocomplete="off" {{action formAction on='submit'}}>
  <p>
    <label for="">Username: </label>
    {{input type="text" value=formUsername required="true" }}
  </p>
  <br>
  {{#unless isFormLogin}}
    <p>
      <label for="">Email: </label>
      {{input type="email" value=formEmail required="true" }}
    </p>
    <br>
  {{/unless}}
  <p>
    <label for="">Password: </label>
    {{input type="password" value=formPassword required="true" }}
  </p>
  <br>
  <p>
    {{#if isFormLogin}}
      <button type="submit">Login</button>
    {{else}}
      <button type="submit">Sign up</button>
    {{/if}}
  </p>
</form>
