<h2>Stories</h2>
<div class="select__content">
  <select class="select" onchange={{action (mut selectedSort) value="target.value"}}>
    {{#each sortOptions as |sortOption|}}
      <option value={{sortOption.id}} selected={{eq selectedSort sortOption.id}}>{{sortOption.name}}</option>
    {{/each}}
  </select>
</div>
{{#each sortedStories as |storyUnit index|}}
  {{story-listing story=storyUnit index=index toLogin=(route-action "toLogin")}}
{{/each}}
{{outlet}}
